<footer class="footer">
    <div class="container">
        <div class="footer-social">
            <p>Siga nossas redes:</p>
            <a href="#" target="_blank" aria-label="WhatsApp">
                <img src="assets/imagens/Whatsapp.png" alt="Logo do WhatsApp"> </a>
            <a href="#" target="_blank" aria-label="Instagram">
                <img src="assets/imagens/Instagram.png" alt="Logo do Instagram"> </a>
            <a href="#" target="_blank" aria-label="WhatsApp">
                <img src="assets/imagens/Tiktok.png" alt="Logo do Tiktok"> </a>
        </div>

        <hr class="footer-divider">
        <div class="footer-credits">
            <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
        </div>
    </div>
</footer>