<nav class="navbar">
    <div class="container">
        <div class="nav-logo">
            <img src="assets/imagens/logo-deleite.png" alt="Deleite Logo">
        </div>
        <span class="spacer"></span>
        <div class="nav-action">
            <button class="icon-button" aria-label="Pesquisar">
                <span class="icon-placeholder"><img src="assets/icons/busca.png" alt="Busca"></span>
            </button>
            <button class="icon-button" aria-label="Carrinho">
                <span class="icon-placeholder"><img src="assets/icons/carrinho.png" alt="Carrinho"></span>
            </button>
        </div>
    </div>
</nav>