:host {
    display: block;
    width: 100%;
}

.navbar {
    background-color: #3b51a4;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 20px;
    display: block;
}

.spacer {
    flex: 1;
}

.nav-actions {
    display: flex;
    gap: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.icon-placeholder {
    font-size: 1.5rem;
}