.banner {
    width: 100%;
}

.products-container{
    padding: 40px 0;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;;
}

.section-title {
    font-family: 'Agbalumo', system-ui;
    color: #3b51a4;
    font-size: 2.5rem;
    margin-bottom: 30px;
    padding-left: 15px;
}