<img class="banner" src="assets/imagens/banner.jpg" alt="Banner Deleite">
@if (showCartAllert()){
<div class="cart-allert">
    <p><strong>Você tem {{ cartItens() }} itens no carrinho!</strong></p>
    <p>Valor total estimado: R$ {{ totalValueCart() | number:'1.2-2'}}</p>
    <button class="btn-empty-cart" (click)="clearCart()">ESVAZIAR CARRINHO</button>
</div>
}
<section class="products-container">
    <h2 class="section-title">Milkshakes</h2>
    <div class="grid">
        @for (milkshake of milkshakes; track milkshake.id) {
        <app-product-card [product]="milkshake" (addFunction)="addProduct()"></app-product-card>
        }
    </div>
</section>
<section class="products-container">
    <h2 class="section-title">Sorvetes</h2>
    <div class="grid">
        @for (icecream of icecreams; track icecream.id) {
        <app-product-card [product]="icecream" (addFunction)="addProduct()"></app-product-card>
        }
    </div>
</section>
<section class="products-container">
    <h2 class="section-title">Smoothies</h2>
    <div class="grid">
        @for (smoothie of smoothies; track smoothie.id) {
        <app-product-card [product]="smoothie" (addFunction)="addProduct()"></app-product-card>
        }
    </div>
</section>
<section class="products-container">
    <h2 class="section-title">Cafés gelados</h2>
    <div class="grid">
        @for (iceCoffee of iceCoffees; track iceCoffee.id) {
        <app-product-card [product]="iceCoffee" (addFunction)="addProduct()"></app-product-card>
        }
    </div>
</section>